:root {
    /* --color-gray:#9dafb8; */
    --color-gray-dark:#90a4ae;
    --color-gray-light:#cfd8dc;
    --color-black: #29363d;
    /* --color-white:white; */

    --color-gray-dark-stronge:#545e64;
    --color-gray:#5c7a89;
    --color-white:#fff;
    --color-cyan:#3dd2ba;
    --color-cyan-light:#64dbc8;
    --color-green-blue:#038673;
    --color-black-blue:#29363d;

    --color-black-product:#212529;
    --color-black-product-name:#253238;
    --color-black-product-detail:#5c7a89;
    /* --color-green-blue:#038673; */
    --color-star:#ffbf47;

    --color-red:#FA7070;
    --color-red-dark:#B80000;
    --color-white:#fff;
    
    font-size: 16px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

p,figure {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
}

.bg-hero-1 {
    background-color: #e9ffb4;
}

.bg-hero-2 {
    background-color: #85ffd3;
}

.bg-hero-3 {
    background-color: #385ef9;
}

div.container {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    /* max-width: 100dvw; */
}

.page {
    padding-bottom: 2rem;
}

footer.footer-page {
    height: 100px;
    background-color: darkmagenta;
}