:root {
    /* --color-gray:#9dafb8; */
    --color-gray-dark: #90a4ae;
    --color-gray-light: #cfd8dc;
    --color-black: #29363d;
    /* --color-white:white; */

    --color-gray-dark-stronge: #545e64;
    --color-gray: #5c7a89;
    --color-white: #fff;
    --color-cyan: #3dd2ba;
    --color-cyan-light: #64dbc8;
    --color-green-blue: #038673;
    --color-black-blue: #29363d;

    --color-gray-product: #eceff1;
    --color-black-product: #212529;
    --color-black-product-name: #253238;
    --color-black-product-detail: #5c7a89;
    /* --color-green-blue:#038673; */
    --color-star: #ffbf47;

    --color-red: #FA7070;
    --color-red-dark: #B80000;
    --color-white: #fff;

    --color-delivery-type: #86418a;

    font-size: 16px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

p,
figure {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
}

.bg-hero-1 {
    background-color: #e9ffb4;
}

.bg-hero-2 {
    background-color: #85ffd3;
}

.bg-hero-3 {
    background-color: #385ef9;
}

div.container-init,
div.container {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    /* max-width: 100dvw; */
}

div.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page {
    padding-bottom: 2rem;
}

footer.footer-page {
    height: 100px;
    background-color: darkmagenta;
}

img {
    width: 100%;
}

footer.footer-main {
    /* border-top: 1px solid var(--color-gray); */
    box-shadow: 0 -.5px 5px var(--color-black-blue);

    >div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        font-family: sans-serif;
        gap: 1rem;

        >section.rights {
            grid-column: span 2;
            padding-top: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            >figure {
                >img {
                    width: 100%;
                    object-fit: contain;
                    object-position: center;
                }
            }

            >p {
                font-size: .8rem;
                color: var(--color-gray);
            }
        }

        >section.nav {
            display: flex;
            flex-direction: column;
            align-items: center;

            >h3 {
                font-weight: 700;
                font-size: .9rem;
                padding-bottom: 1rem;
            }

            >ul {
                display: flex;
                flex-direction: column;
                gap: .8rem;

                >li {
                    a {
                        color: var(--color-gray);
                        font-size: .75rem;
                        transition: all .3s ease;

                        &:hover {
                            color: var(--color-black-blue);
                        }
                    }
                }
            }
        }

        >section.support {}

        >section.social {
            grid-column: span 2;

            >ul {
                display: flex;
                justify-content: center;
                padding: 1rem 0;
                gap: 3rem;

                >li {
                    >a {
                        display: inline-block;

                        >div.social-icon {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 2rem;
                            background-color: var(--color-gray-dark);
                            padding: .5rem;
                            color: var(--color-white);
                            border-radius: 50%;
                            transition: all .3s ease;
                        }

                        &:hover {
                            >div.social-icon {
                                background-color: var(--color-cyan);
                            }
                        }
                    }
                }
            }
        }
    }
}

fieldset {
    all: revert;
}

legend {
    all: revert;
}



nav.bottom-navigation {
    padding: 0 1rem;
    border-top: 2px solid var(--color-gray-light);
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--color-white);

    >ul {
        display: flex;
        justify-content: space-between;
        gap: .5rem;

        >li {
            >a {
                display: inline-block;
                padding: 1rem;
                color: var(--color-gray-dark);
                display: flex;
                flex-direction: column;
                align-items: center;
                transition: all .3s ease;
                font-family: inherit;

                >div.icon-cont {
                    font-size: 2rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    /* background-color: yellowgreen; */
                }

                &:hover {
                    color: var(--color-green-blue);
                }

                >span {
                    font-family: inherit;
                }
            }

            &:has(button) {
                >button {
                    border: none;
                    background-color: transparent;
                    cursor: pointer;
                    display: inline-block;
                    padding: 1rem;
                    color: var(--color-gray-dark);
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    transition: all .3s ease;
                    font-family: inherit;

                    >div.icon-cont {
                        font-size: 2rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        /* background-color: yellowgreen; */
                    }

                    &:hover {
                        color: var(--color-green-blue);
                    }

                    >span {
                        font-family: inherit;
                    }
                }
            }
        }
    }
}

@media screen and (width > 768px) {
    nav.bottom-navigation{
        display: none;
    }
}