header.header-main {
    /* --color-gray:#9dafb8;
    --color-gray-dark:#90a4ae;
    --color-gray-light:#cfd8dc;
    --color-black: #29363d;
    --color-white:white; */
    font-family: 'Asap', Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    gap: .25rem;

    /* height: 60px; */
    /* background-color: yellowgreen; */
    >div.line-1 {
        display: flex;
        padding: .5rem 1.4rem;
        gap: 1rem;

        >div.logo {
            /* background-color: blue; */
            display: flex;
            justify-content: center;
            align-items: center;

            >img {
                /* background-color: black; */
                padding-top: .15rem;
                width: 100%;
                object-fit: contain;
            }
        }

        >div.logo-desktop {
            display: none;
        }

        >div.frm-search {
            /* background-color: yellowgreen; */
            flex: 1;
            display: flex;
            padding: .3rem;
            position: relative;

            >input[type="text"] {
                flex-grow: 1;
                border-radius: 3rem;
                padding: .7rem 1rem .7rem 3rem;
                outline: none;
                border: 1px solid var(--color-gray);
                font-size: 1.2rem;
                letter-spacing: .2px;
                transition: all .3s ease;

                &:hover {
                    border-color: var(--color-black);
                    outline: 1px solid var(--color-black);
                }
            }

            >div.ico-search {
                position: absolute;
                top: 1.1rem;
                left: 1.2rem;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.5rem;
                color: var(--color-gray-light);
                /* background-color: blue; */
            }
        }

        >div.session-desktop {
            display: none;
        }
    }

    >div.line-2 {
        border-top: 1px solid var(--color-gray-dark);
        margin-bottom: .15rem;
        padding-left: 1.4rem;
        /* background-color: aqua; */
        >ul.menu-horizontal {
            display: flex;
            justify-content: flex-start;
            gap: 1rem;
            color: var(--color-black);

            >li {
                font-size: 1.2rem;
                font-weight: 300;
                padding: .6rem 0;
                cursor: pointer;
                transition: all .3s ease-in-out;
                border-bottom: 3px solid var(--color-white);
                border-top: 3px solid var(--color-white);
                &:has(button){
                    > button {
                        display: flex;
                        align-items: center;
                        gap: .5rem;
                        border: none;
                        background-color: transparent;
                        cursor: pointer;
                        transition: all .3s ease;
                        >div.ico-burger {
                            /* background-color: yellow; */
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 1.5rem;
                        }
                        &:hover{
                            opacity: .5;
                        }                   
                    } 
                }

                &:hover {
                    border-bottom: 3px solid var(--color-black);
                }
            }
        }
    }

    >div.menu-vertical {
        background-color: var(--color-white);
        position: absolute;
        left: 0;
        top: 7.5rem;
        z-index: 999;
        padding: 0 1rem 1rem 1rem;
        border: 1px solid var(--color-gray);
        /* display: none; */

        >div.cont-button-close {
            /* background-color: yellowgreen; */
            position: relative;
            height: 2rem;

            >button {
                position: absolute;
                top: 1rem;
                right: 0;
                padding: .1rem .2rem;
                border: none;
                background-color: var(--color-white);
                transition: all .3s ease;
                border-radius: .5rem;
                cursor: pointer;

                >div.ico-close {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 2rem;
                }

                &:hover {
                    background-color: var(--color-gray-dark);
                }
            }
        }

        >p {
            padding: 2rem 0;
            font-weight: 500;
            font-size: 1.3rem;
        }

        >nav {
            >ul {

                /* background-color: brown; */
                >li {
                    padding: 1rem 15rem 1rem 0;
                    border-bottom: 1px solid var(--color-gray);

                    >a {
                        display: flex;
                        gap: .5rem;
                        color: var(--color-black);
                        transition: all .3s ease;

                        >div.ico {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 1.2rem;
                        }

                        >span {
                            position: relative;

                            &::after {
                                content: '';
                                position: absolute;
                                display: block;
                                height: 2px;
                                width: 100%;
                                background-color: var(--color-black);
                                left: 0;
                                right: 0;
                                bottom: -2px;
                                transform: scale(0);
                                transition: all .3s ease;
                            }

                            &:hover {
                                &::after {
                                    transform: scale(1);
                                }
                            }
                        }

                        &:hover {
                            color: var(--color-gray-dark);
                        }
                    }
                }
            }
        }
    }
}

.hide-menu{
    display: none;
}


@media screen and (width >=768px) {
    header.header-main {
        >div.line-1 {
            padding: 1rem 2rem;

            >div.logo {
                display: none;
            }

            >div.logo-desktop {
                display: block;                
                display: flex;
                justify-content: center;
                align-items: center;

                > a {
                    >img {                    
                        /* padding-top: .15rem; */
                        width: 100%;
                        object-fit: contain;
                    }
                }
            }

            >div.session-desktop {
                display: flex;
                /* background-color: yellowgreen; */
                justify-content: center;
                align-items: center;
                gap: .5rem;

                >div {
                    >a {
                        display: inline-block;
                        padding: .5rem 2rem;
                        color: var(--color-black-blue);
                    }

                    >a.btn-login {
                        border: 2px solid var(--color-cyan);
                        border-radius: 1rem;

                    }

                    >a.btn-sell {
                        border: 2px solid var(--color-cyan);
                        border-radius: 1rem;
                        background-color: var(--color-cyan);
                    }
                }
                > div.to-profile {
                    > a {
                        display: inline-block;
                        padding: .5rem 5rem;
                        color: var(--color-white);
                        background-color: var(--color-cyan);
                        border: 2px solid var(--color-cyan);
                        border-radius: 1rem;
                        transition: all .3s ease;
                        display: flex;
                        gap: .5rem;
                        > div {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                        &:hover{
                            opacity: .8;
                        }
                    }
                }
                > div.logout-desktop{
                    > button {
                        display: inline-block;
                        padding: .5rem 2rem;
                        color: var(--color-black-blue);
                        border: 2px solid var(--color-cyan);
                        border-radius: 1rem;
                        display: flex;
                        gap: .5rem;
                        background-color: transparent;
                        cursor: pointer;
                        transition: all .3s ease;
                        > div {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                        &:hover{
                            opacity: .7;
                        }
                    }
                }
            }
        }
        >div.line-2 {
            padding-left: 2rem;
        }
    }
}
