div#page{
    > main.profile-page{
        flex: 1;
        background-color: var(--color-gray-product);
        display: flex;
        flex-direction: column;
        gap: 3rem;
        padding-top: 3rem;
        > .controls {
            background-color: var(--color-white);
            max-width: 80dvw;
            margin: 0 auto;            
            width: 100%;            
            border-radius: 2rem;
            padding: .5rem 0;
            > ul {                
                display: flex;
                padding: 0 .3rem;
                gap: .3rem;
                > li{
                    display: flex;
                    > button {
                        display: inline-block;
                        padding: 1.5rem 2rem;
                        border: none;
                        border-radius: 2rem;
                        font-weight: 500;
                        font-size: clamp(.5rem,2dvw,1.2rem);
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }
        }
        > .personal-information{
            > div{
                max-width: 80dvw;
                margin: 0 auto;
                background-color: var(--color-white);
                border-radius: 2rem;
                overflow: hidden;
                padding-bottom: 5rem;
                > div.user-profile{
                    font-family: sans-serif;
                    >figure.banner-header {
                        height: 300px;
                        position: relative;
                        > img {
                            width: 100%;
                            height: 100%;
                            aspect-ratio: 16/9;
                            object-fit: cover;
                            object-position: center left;
                        }
                        > div {
                            position: absolute;
                            bottom: -50%;
                            left: 50%;
                            transform: translate(-50%,-25%);
                            width: 200px;
                            height: 200px;
                            border-radius: 50%;
                            overflow: hidden;
                            border: .8rem solid var(--color-white);
                            > img.user-image { 
                                width: 100%;                                
                                /* height: 100%; */
                                object-fit: cover;
                                object-position: center;
                            }
                        }
                    }
                    > div.information {
                        padding-top: 100px;
                        display: flex;
                        justify-content: center;
                    }
                    > div.items {
                        padding-top: 1rem;
                        display: flex;
                        justify-content: center;
                        gap: 1rem;
                        > div.item {
                            display: flex;
                            flex-direction: column;
                            padding: 1rem;
                            background-color: var(--color-cyan);
                            min-width: 80px;
                            justify-content: center;
                            align-items: center;
                            border-radius: 1rem;
                            color: var(--color-white);
                            gap: .4rem;
                            > div {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                gap: .3rem;
                                > div.icon-cont {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    font-size: 1.3rem;
                                }
                                > span {
                                    font-size: 1.2rem;
                                    font-weight: 600;
                                    color: var(--color-black-product-name);
                                }
                            }
                            > p {
                                font-size: .8rem;
                                text-shadow: 1px 1px 2px var(--color-black-blue);
                            }
                        }
                    }
                    > div.personal-dates{
                        padding-top: 2rem;
                        max-width: 80%;
                        /* background-color: violet; */
                        margin: 0 auto;
                        color: var(--color-black-blue);
                        > div{
                            display: flex;
                            gap: .4rem;
                        }
                    }
                }
            }
        }
        > .all-products {            
            > div {
                max-width: 80dvw;
                background-color: var(--color-white);
                margin: 0 auto;
                border-radius: 2rem;
                overflow: hidden;
                padding: 2rem;
                display: flex;
                flex-direction: column;
                gap: 2rem;
                > h2 {
                    padding-bottom: .4rem;
                    color: var(--color-black-blue);
                    border-bottom: 1px solid var(--color-gray-product);
                }
                > .my-products{
                    > dialog {
                            border: none;
                            padding: 1.5rem 1rem;
                            border-radius: .5rem;
                        > div {
                            display: flex;
                            flex-direction: column;                            
                            gap: .8rem;
                            > .header-modal{
                                position: relative;
                                > button.close-dialog {
                                    position: absolute;
                                    right: 0;
                                    top: 0;
                                    padding: 0;
                                    border: none;
                                    background-color: transparent;
                                    transition: all .3s ease;
                                    > div.icon-container {                                    
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        font-size: 1.3rem;
                                    }
                                    &:hover {
                                        opacity: .5;
                                    }
                                }
                                > h3 {
                                    /* background-color: indianred; */
                                    padding-top: .25rem;
                                    padding-bottom: .5rem;
                                    border-bottom: 1px solid var(--color-gray);
                                }
                            }
                            > .body-modal{}
                            > .footer-modal{
                                display: flex;
                                gap: .5rem;
                            }
                        }
                        &::backdrop {
                            background-color: rgba(0, 0, 0, .3);
                            backdrop-filter: blur(10px);
                        }

                    }
                }
            }
        }
        > section.add-product {
            > div {
                max-width: 80dvw;
                margin: 0 auto;
                background: linear-gradient(var(--color-white), var(--color-white)) padding-box,
                    linear-gradient(-100deg, transparent 30%, var(--color-green-blue), var(--color-green-blue)) border-box;
                border: 2px solid transparent;
                padding: 2rem;
                border-radius: 2rem;
                >div.form-container {                    
                    > form {                    
                        font-family: sans-serif;
                        display: flex;
                        flex-direction: column;
                        gap: .9rem;
                        > div {
                            /* background-color: yellowgreen; */
                            display: flex;
                            flex-direction: column;
                            gap: .3rem;
                            /* transition: all .3s ease; */
                            &:has(input:focus){
                                transition: all .3s ease;
                                > label {
                                    color: var(--color-green-blue);
                                    /* font-weight: 700; */
                                }
                            }
                            > label {
                                color: var(--color-gray);
                                
                            }
                            > input[type="text"],input[type="number"] {
                                border-radius: .5rem;
                                padding: .6rem 1rem;
                                outline: none;
                                border: 1px solid var(--color-gray);
                                transition: all .3s ease;
                                &:focus{
                                    border-color: var(--color-green-blue);
                                    /* outline:1px solid var(--color-green-blue); */
                                }
                            }
                            input[type="number"] {
                                appearance: textfield;
                            }
                
                            input[type="number"]::-webkit-outer-spin-button,
                            input[type="number"]::-webkit-inner-spin-button {
                                -webkit-appearance: none;
                                margin: 0;
                            }
                        }
                        > div.price-content{
                            /* position: relative; */
                            /* background-color: blue; */
                            &:has(input:focus){
                                > div {
                                    > div.ico-price {
                                        color: var(--color-green-blue);
                                    }
                                }
                            }
                            > div {
                                /* background-color: blue; */
                                display: flex;
                                border-radius: .5rem;
                                overflow: hidden;
                                position: relative;
                                > input {
                                    flex: 1;
                                    padding-left: 2.8rem;
                                }
                                > div.ico-price {
                                    position: absolute;
                                    left: -.3rem;
                                    top: -.3rem;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    font-size: 3rem;
                                    color: var(--color-gray);
                                    transition: all .3s ease;
                                }
                            }
                        }
                        > fieldset {
                            /* background-color: yellowgreen; */
                            border-radius: .5rem;
                            border-color: var(--color-gray);
                            border-width: 1px;
                            color: var(--color-gray);
                            transition: all .3s ease;
                            &:has(textarea) {                            
                                display: flex;                                
                                flex-direction: column-reverse;
                                gap: .5rem;
                                padding: 1rem;
                                > div.max-lenght-container {
                                    font-size: .8rem;
                                    font-weight: 100;
                                }
                                &:has(textarea:focus){
                                    color: var(--color-green-blue);
                                    border-color: var(--color-green-blue);
                                }
                                > textarea { 
                                    border-color: var(--color-gray);                           
                                    border-radius: .3rem;
                                    resize: none;
                                    height: 5rem;                            
                                    flex: 1;
                                    padding: 1rem;
                                    transition: all .3s ease;
    
                                    &:focus{
                                        border-color: var(--color-green-blue);
                                        outline: none;
                                        /* outline:1px solid var(--color-green-blue); */
                                    }
                                }
                            }
                            &:has(>ul>li>input:focus){
                                color: var(--color-green-blue);
                                border-color: var(--color-green-blue);
                            }
                            > ul {
                                display: flex;
                                flex-direction: column;
                                gap: .5rem;
                                > li {
                                    display: flex;
                                    position: relative;  
                                    &:has(input:focus){
                                        > label {
                                            color: var(--color-green-blue);
                                        }
                                    }                              
                                    >label {                                    
                                        width: 160px;
                                        color: var(--color-gray);
                                        cursor: pointer;
                                    }
                        
                                    >input[type="radio"] {
                                        opacity: 0;                                    
                                        cursor: pointer;
                                        position: absolute;
                                        display: block;
                                        left: 160px;
                                        width: 20px;
                                        height: 20px;
                                        top: 0;
                                        z-index: 10;
                        
                                        ~span {
                                            display: flex;
                                            width: 20px;
                                            height: 20px;
                                            border: 1px solid var(--color-green-blue);
                                            position: relative;
                                            border-radius: 3px;
                                            justify-content: center;
                                            z-index: 5;
                        
                                            &::before {
                                                content: "✓";
                                                position: absolute;
                                                left: 0;
                                                top: 0;
                                                opacity: 0;
                                                font-size: 0;
                                                transition: all .4s ease;
                                                z-index: 6;
                                            }
                                        }
                        
                                        &:checked {
                        
                                            /* opacity: 1; */
                                            ~span {
                                                &::before {
                                                    opacity: 1;
                                                    font-size: 2rem;
                                                    top: -15px;
                                                    color: var(--light-color);
                                                    padding-bottom: 10px;
                                                }
                                            }
                                        }
                        
                                    }
                        
                                }
                            }
                            &:has(div.drop-zone>input:focus){
                                color: var(--color-green-blue);
                                border-color: var(--color-green-blue);
                            }
                        }
                        > div.dropdown-cont {
                            position: relative;
                            transition: all .3s ease;
                            &:has(>select:focus){
                                > div.ico {
                                    color: var(--color-green-blue);
                                }
                            }
                            > div.ico {
                                position: absolute;
                                right: .25rem;
                                top: .25rem;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                font-size: 2rem;
                                color: var(--color-gray);
                            }
                            > select {
                                appearance: none;
                                padding: .6rem;
                                color: var(--color-gray);
                                border-radius: .5rem;
                                cursor: pointer;
                                transition: all .3s ease;
                                &:focus {
                                    color: var(--color-green-blue);
                                    outline: none;
                                    border-color: var(--color-green-blue);
                                }
                            }
                        }
                        > div.btn-submit {
                            > button {
                                padding: .5rem 1rem;
                                border: none;
                                background-color: var(--color-green-blue);
                                color: var(--color-white);
                                font-weight: 700;
                                border-radius: .5rem;
                                cursor: pointer;
                                transition: all .3s ease;
                                &:hover {
                                    background-color: var(--color-cyan);
                                }
                            }
                        }
                    }
                }
            }
        }
        > section {
            &:not(.controls){
                > div {
                    min-height: 300px;                    
                }
            }

        }
    }
}

.grow-column {
    width: 100%;
}
.table-layout {
    table-layout: auto;
}

.show-section{
    display: block;
}
.hide-section{
    display: none;
}
.btn-select{
    background-color: var(--color-green-blue);
    color: var(--color-white);    
}

li{
    &:has(>button.btn-select){
        /* background-color: aquamarine; */
        flex: 1;        
        transition: flex .5s ease-out;
        > button {
            flex: 1;
            display: flex;            
        }
    }
}

@media screen and (width > 768px) {
    div#page{
        > main.profile-page{
            > .controls{
                max-width: 800px;                
            }
            > .all-products{
                > div {
                    max-width: 800px;
                }
            }
            > .personal-information{
                > div {
                    max-width: 800px;
                }
            }
            > section.add-product {
                > div {
                    max-width: 800px;
                }
            }
        }
    }
}
